@{
    ViewBag.Title = "About";
}

<h2>About this project</h2>
<p>
    This is just a test project. It's focused more on the backend architecture rather than user interface.
    So please ignore the bad looking pages and look at the architecture. I am using Ninject IoC to manage objects and
    repository pattern to access the data layer which was created via Entity Framework.
</p>

