@model AllBooksViewModel
@{
    ViewBag.Title = "AllBooks";
}

@foreach (var book in Model.AllBooks)
{
    <div class="panel">
        <div>
            @Html.ActionLink(book.Title, "Detail", "Book")
        </div>
        <div>
            <h5>
                <i>by @book.Author.FirstName @book.Author.LastName</i>
            </h5>
        </div>
    </div>
}

<button>
    @Html.ActionLink("Add new book", "Create", "Book")
</button>

