@model BookDetailViewModel

<div>
    <div>
        Title: @Html.DisplayFor(m => m.Title)
    </div>

    <div>
        by @Html.DisplayFor(m => m.Author.FirstName) 
        @Html.DisplayFor(m => m.Author.LastName)
    </div>

    <div>
        Description: @Html.DisplayFor(m => m.Description)
    </div>
</div>

