@model BookDetailViewModel

<div>
    <div>
        @Html.DisplayFor(m => m.Title)
    </div>

    <div>
        by @Html.DisplayFor(m => m.Author.FirstName) 
        @Html.DisplayFor(m => m.Author.LastName)
    </div>
</div>

