@model LibrarySystem.Web.Models.BookModels.BookDetailViewModel
<div>
    <div>
        <strong>@Html.DisplayFor(m => m.Title)</strong>
    </div>

    <div>
        by @Html.DisplayFor(m => m.Author.LastName)
    </div>
</div>

